name: Transpiled JavaScript

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check-dist:
    name: Check dist/
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .tool-versions
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Build dist/ Directory
        run: npm run bundle

      - name: Compare Directories
        id: diff
        run: |
          if [ ! -d dist/ ]; then
            echo "::error::Expected dist/ directory does not exist"
            exit 1
          fi

          if [ "$(git diff --ignore-space-at-eol --text dist/ | wc -l)" -gt "0" ]; then
            echo "::error::Detected uncommitted changes after build"
            exit 1
          fi
